form(action="/addproduct", method="post") 
    label(for="name_product") Nombre:
    input(type="text", name="name_product")
    label(for="price_product") Precio:
    input(type="text", name="price_product")
    label(for="img_product") Imagen:
    input(type="file", name="img_product")
    input(type="submit", value="Guardar")