form(action="/addproduct", method="post") 
    label(for="name") Nombre:
    input(type="text", name="name")
    label(for="price") Precio:
    input(type="text", name="price")
    label(for="description") Descripción:
    input(type="text", name="description")
    label(for="image") Imagen:
    input(type="file", name="image")
    input(type="submit", value="Guardar")