header
    .header__logo 
        img.logo(src="./img/logo.png", alt="Logo torrijaShop")
    nav.nav__bar 
        ul.nav__menu 
            li.nav__item 
                a(href="/") Listado 
            li.nav__item 
                a(href="/addproduct") Añade un producto 