section 
    .product__container 
        .product__img 
            img(src="", alt="", srcset="")
        .product__info
            .product__info--name 
                p Nombre: 
            .product__info--price 
                p Precio: